/* الحل الشامل والنهائي لمشكلة قص الحروف المائلة */
.italic {
    /* السماح للحروف بالبروز قليلاً خارج الصندوق دون قصها */
    overflow: visible !important;
    
    /* إضافة مساحة تنفس جانبية طفيفة لمنع التداخل */
    padding-left: 0.15em !important;
    padding-right: 0.25em !important;
    
    /* ضمان أن المتصفح يعامل النص ككتلة واحدة */
    display: inline-block;
    
    /* تحسين المسافات العلوية والسفلية لمنع القص الرأسي */
    line-height: 1.4 !important;
}

